<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqliteConnection"
			connectionString="Data Source=C:\Users\DavlaD\source\repos\Automated Information System\Domain.EntityFramework\Database.db"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>